<!doctype html>

<html lang="en"><head>
    <meta charset="utf-8">
    <title>Article for Reductaion</title>
</head>

<div style="width:50%;min-width:100px;">
    <h2> Don’t Overload Students: Assigning Too Much Work Discourages Learning </h2>
    <a href ="https://www.opencolleges.edu.au/informed/features/dont-overload-students-assigning-too-much-work-discourages-learning/">
        Link
    </a>
    <p>Has your to-do list ever been so long that you felt physically drained at the thought
        of everything that needed to be done?</p>

    <p>New research has shed some light on the reason behind this feeling and shows that overloading students
        causes not only academic stress, but also takes a toll on students’ mental and physical health,
        which, unsurprisingly, hinders learning.</p>

    <p> The study, led by Mollie Galloway from Lewis and Clark College, shows that although students
        who spend more time doing homework are sometimes more behaviourally engaged in school,
        they also tend to be more anxious, and report more physical symptoms due to stress. </p>

    <P>“Although the students in our study were averaging more than three hours of homework per night,
        most did not find this homework engaging, nor did they feel it enhanced their learning,” says Galloway. </P>

    <p>“Because homework tends to acts as a stressor in students’ lives, their bodies must find a way
        to respond or react to this stressor, and although research has shown that some level of stress can be healthy,
        chronic stress can induce negative physical, mental, and behaviour outcomes,” she explains. </p>

    <p>The researchers surveyed over 4,000 students to determine the role that this additional work played
        as a stressor in their lives. </p>

    <p>By asking questions like “How often do you try as hard as you can in school?” and “How often do
        you complete your school assignments?” they were able to paint
        a picture of students’ level of behavioural engagement. </p>

    <p> The mental and physical well-being assessment consisted of questions like
        “How often do you feel stressed about your academic experience?” as well as enquiries
        about stress-related health problems such as headaches, weight gain and sleep difficulties. </p>

    <p> Only 6% of students said they found their homework “very useful” in preparing them
        for learning, tests, papers or projects, and many experienced stress, compromised health and a lack of balance. </p>

    <p> Students also voiced their frustration with their workload, saying things like;
        “There’s never a time to rest, there’s always something more you should be doing;”
        “It can feel like you are drowning;” and “My body crashes when I’ve done maybe half of my homework.” </p>

    <p>Based on such student feedback, the researchers speculate that homework overload
        can actually limit a person’s capacity to learn. </p>

    <p>“Our study suggests that [students who are overloaded] experience higher levels of stress
        and more physical problems like sweating, headaches, exhaustion, stomach problems,
        and/or sleeping difficulties,” notes Galloway. </p>

    <p>“In addition, these students report a general lack of balance in their lives,
        feeling like they need to choose completing their homework
        over engaging in social, physical, and restorative activities that could support their well-being.” </p>

    <p>Previous research has also shown that assigning too much work can diminish its effectiveness
        and even make it counter-productive. Clearly, just because students are doing more work,
        doesn’t mean they are actually learning more. </p>

    <p>But what can teachers do make sure that they assign enough work without frustrating and overloading students?</p>

    <p>Dr. Galloway notes that any work assigned to students should have a clear purpose and benefit,
        and should be designed to cultivate learning and development. </p>

    <p> She also suggests the following tips for finding the right balance: </p>

    <p> &#9702; Students and teachers should generally align in their
        description of the purpose of homework (that is, students should be able to identify the purpose) </p>
    <p> &#9702; Teachers should not simply check-off homework as “complete” or “incomplete.”
        Homework should be incorporated or utilized in the lesson to facilitate the learning experience. </p>
    <p> &#9702; Students and teachers should engage together in co-constructing homework assignments.
        In such co-construction, students can identify various ways to build upon
        and expand their learning of a topic or concept.
        This also provides opportunities for students to bring their strengths;
        creativity; cultural ways of learning; and community assets to the learning process.</p>
</div>

</html>